/* My Styles */

body {
    background-color: black;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    font-size: 3em;
  }
  
  quote {
    text-align: center;
    font-size: 2em;
  }
  
  p {
    font-size: 1em;
    text-align: center;
  }
  
  